# Папка-довідник
reference/

# Gradle та збірка
.gradle
/build
/local.properties
local.properties
gradle-daemon-jvm.properties

# IDE - IntelliJ IDEA / Android Studio
/.idea/

# Якщо треба поділитися стилем коду
# !.idea/codeStyles/

# Системні файли та кеші
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx

# Звіти про перевірку коду
lint_reports/